html,
body,
#root {
  height: 100%;
}

.shadow-l-fixed,
.shadow-r-fixed {
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    content: '';
    pointer-events: none;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: inset -10px 0 8px -8px var(--fixed-shadow);
  }
}

.shadow-l-fixed {
  &::after {
    left: 0;
    transform: translateX(-100%);
  }
}

.shadow-r-fixed {
  &::after {
    right: 0;
    transform: translateX(100%);
  }
}
